@font-face {
    font-family: "Sailec";
    src: url("/fonts/Regular.eot");
    src: url("/fonts/Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Regular.woff2") format("woff2"),
        url("/fonts/Regular.woff") format("woff"),
        url("/fonts/Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sailec";
    src: url("/fonts/Bold.eot");
    src: url("/fonts/Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Bold.woff2") format("woff2"),
        url("/fonts/Bold.woff") format("woff"),
        url("/fonts/Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Sailec";
    src: url("/fonts/RegularItalic.eot");
    src: url("/fonts/RegularItalic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/RegularItalic.woff2") format("woff2"),
        url("/fonts/RegularItalic.woff") format("woff"),
        url("/fonts/RegularItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Sailec";
    src: url("/fonts/Medium.eot");
    src: url("/fonts/Medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Medium.woff2") format("woff2"),
        url("/fonts/Medium.woff") format("woff"),
        url("/fonts/Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants hover, focus {
        .lighter {
            filter: brightness(105%);
        }
        .darker {
            filter: brightness(95%);
        }
    }
}

@layer utilities {
    @variants responsive {
        .grid-cols-auto-1 {
            grid-template-columns: repeat(1, auto);
        }
        .grid-cols-auto-2 {
            grid-template-columns: repeat(2, auto);
        }
        .grid-cols-auto-3 {
            grid-template-columns: repeat(3, auto);
        }
        .grid-cols-auto-4 {
            grid-template-columns: repeat(4, auto);
        }
        .grid-cols-auto-5 {
            grid-template-columns: repeat(5, auto);
        }
        .grid-cols-auto-6 {
            grid-template-columns: repeat(6, auto);
        }
        .grid-cols-auto-7 {
            grid-template-columns: repeat(7, auto);
        }
        .grid-cols-auto-8 {
            grid-template-columns: repeat(8, auto);
        }
        .grid-cols-auto-9 {
            grid-template-columns: repeat(9, auto);
        }
        .grid-cols-auto-10 {
            grid-template-columns: repeat(10, auto);
        }
        .grid-cols-auto-11 {
            grid-template-columns: repeat(11, auto);
        }
        .grid-cols-auto-12 {
            grid-template-columns: repeat(12, auto);
        }
    }
}
